@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  font-family: "Nunito", sans-serif;
  
}
body::before {
  content:'';
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: hsl(29, 100%, 74%);
  background-image: url("https://img.besthqwallpapers.com/Uploads/10-12-2017/32803/material-design-4k-creative-geometry-triangles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;
  z-index: -1;
}

/*Page responsiveness*/

.container {
  width: 100%;
  margin: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/*Header*/

#title {
  text-align: center;
}
#description {
  text-align: center;
  font-style: italic;
  margin-top: -20px;
}

/*form*/

label {
  display: block;
}

p {
  font-weight: 600;
}
#survey-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: hsla(32, 99%, 69%, 0.372);
  border: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
}

/*personal info*/

#name,
#number,
#email,
#lastname {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  margin: 2.5px;
  
}

#names,
#emailandage {
  columns: 2;
  padding-bottom: 10px;
  font-weight: 600;
}
@media (max-width: 420px) {
  #names,
  #emailandage {
    columns: 1;
  }
}

/*Age*/

#number {
  width: 175px;
}
#valued-at-work {
  display: list-item;
  list-style: none;
}

/* Dropdown */

#dropdown {
  display: block;
  width: 65%;
  margin-top: -10px;
  border-radius: 10px;
  padding: 2.5px;
}
/*Checkboxes*/

#checkboxcolumn {
  columns: 2;
}
@media (max-width: 420px) {
  #checkboxcolumn {
    columns: 1;
  }
}
.see-improved {
  background-color: hsl(0, 0%, 100%);
}
/* Radiobuttons */

.radiobuttons {
  color: hsl(0, 0%, 100%);
}

/* Textarea */

#textarea {
  display: block;
  width: 99%;
  margin: auto;
  resize: vertical;
  border-radius: 10px;
  padding-top: 5px;
  min-height: 70px;
  background-color: hsl(0, 0%, 100%)
}
/* Submit */

#submit {
  display: block;
  margin: auto;
  width: 100%;
  background-color:hsl(304, 100%, 85%);
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}